<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    
 footer{
   background-color: black;
   color: white !important;
   padding: 0.5rem;
 }
 footer ul>li:hover,.chat:hover{
   scale: 1.2;
   transition: 0.4s;
 }
 .btn:hover{
   scale: 1.1 !important;
 }

</style>

<body>
    <footer class="custom-margin  mt-md-2 mt-lg-3 mt-sm-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center  col-sm-12 col-lg-12">
                <div class="container  py-4">
                    <div class="row text-center text-sm-center ">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 contact" data-aos="fade-down">
                            <h3 class="custom-color">Contact</h3>
                            <p>
                                <i class="fa-solid fa-location-dot"></i> Gwarko, Lalitpur
                            </p>
                            <p>
                                <i class="fa-solid fa-phone"></i> 9883055292
                            </p>
                            <p>
                                <i class="fa-solid fa-envelope"></i>
                                <a href="mailto:blogwave@gmail.com">blogwave@gmail.com</a>
                            </p>
                            <p class="chat">
                                <i class="fa-solid fa-message"></i>
                                <a href="/chat" class="text-decoration-none text-light chat"> Chat with Admin</a>
                            </p>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 custom-footer link" data-aos="fade-up">
                            <h3 class="text-center custom-color ">Links</h3>
                            <ul class="list-unstyled  fs-6 text-center">
                                <p>
                                    <li><a href="#" class="text-white text-decoration-none">Terms of Service</a></li>
                                </p>
                                <p>
                                    <li><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
                                </p>
                                <p>
                                    <li><a href="#" class="text-white text-decoration-none">Careers</a></li>
                                </p>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 custom-footer" data-aos="fade-down">
                            <h3 class="text-center custom-color">Social Media</h3>
                            <ul class=" list-unstyled fs-6 text-center">
                                <p>
                                    <li><a href="#" class="text-white text-decoration-none"><i
                                                class="fab fa-facebook"></i> Facebook</a>
                                    </li>
                                </p>

                                <p>
                                    <li><a href="#" class="text-white text-decoration-none"><i
                                                class="fab fa-twitter"></i> Twitter</a>
                                    </li>
                                </p>

                                <p>
                                    <li><a href="#" class="text-white text-decoration-none"><i
                                                class="fab fa-instagram"></i>
                                            Instagram</a>
                                    </li>
                                </p>


                            </ul>
                        </div>
                    </div>

                </div>
                <div class="text-center last">

                    <p class="subtext">© 2025 BlogWave. All rights reserved.</p>
                </div>
            </div>
        </footer>
</body>

</html>