<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password || BlogWave</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
  <link rel="stylesheet" href="css/register.css">
  <style>
    main{
        height: 43vh;
    }
  </style>
</head>
<body class="bg-light">
    <%-include('./partials/redirect.ejs') %>
    <main class="">
        <form action="/forgotPassword" method="post" class="bg-light" id="form">
            <input type="email" name="email"  id="email" required placeholder="Enter registered email" class="form-control mb-2 text-center" aria-describedby="emailHelp">
            
            <div id="message" class="fw-bold fs-6 text-danger text-center"></div>
            <p class="text-center mt-lg-3 mt-md-2 mt-sm-3">
                <button class="btn btn-primary" type="submit">Send OTP</button>
            </p>
        </form>
        <!-- enter otp modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">OTP Verification</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                  An OTP has been sent to your registered email. Please check your inbox and enter the OTP below to verify.   
                  
            <div id="message2" class="fw-bold fs-6 text-danger text-center"></div>
                  <form action="/verifyOtp" method="post" class="bg-light text-center" id="modalForm">
                    <input type="number" minlength="4" maxlength="4" name="otp" id="otp" required placeholder="Enter OTP" class="form-control mb-2 text-center" aria-describedby="emailHelp">
                    <div class="modal-footer text-center justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                  </form>
                </div>
               
              </div>
            </div>
          </div>
          <!-- enter new password modal -->
          <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Enter New Password</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                 Please enter a new Password.
            <div id="message3" class="fw-bold fs-6 text-danger text-center"></div>
                  <form action="/verifyOtp" method="post" class="bg-light text-center" id="modalForm2">
                    <input type="password" minlength="8" title="Password must be at least 8 characters long and include uppercase, lowercase, a number, and a special character." pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}" name="password" id="password" required placeholder="Enter Password" class="form-control mb-2 text-center" aria-describedby="emailHelp">
                    <div class="modal-footer text-center justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                  </form>
                </div>
               
              </div>
            </div>
          </div>
          <% if (typeof flashMessage!='undefined' && flashMessage) { %>
            <div class="toast show position-fixed end-0 bottom-0 mx-3 mb-3" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
               </div>
              <div class="toast-body">
                 <%= flashMessage %>
               </div>
             </div>
             <% } %>
    </main>
    <%-include('./partials/footer.ejs')%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script>
        const form = document.getElementById('form');
        const modalForm = document.getElementById('modalForm');
        const modalForm2 = document.getElementById('modalForm2');

        form.addEventListener('submit',(e)=>{
            e.preventDefault();
            const email = document.getElementById('email').value;
            fetchData(email);
        });
        modalForm.addEventListener('submit',(e)=>{
            e.preventDefault();
            const otp = document.getElementById('otp').value;
            const email = document.getElementById('email').value;
            if(otp.length < 4 || otp.length > 4){
                document.getElementById('message2').textContent = 'OTP must be 4 digits long !!!';
                return;
            }
            document.getElementById('message2').textContent = '';
            sendOtp(otp,email);
            const modalFirst = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                    keyboard: false
                });
                modalFirst.hide();
        });
        modalForm2.addEventListener('submit',(e)=>{
            e.preventDefault();
            const password = document.getElementById('password').value;
            const email = document.getElementById('email').value;
            if(password.length < 8){
                document.getElementById('message3').textContent = 'Password must be at least 8 characters long !!!';
                return;
            }
            document.getElementById('message3').textContent = '';
            sendNewPassword(password,email);
        });
        async function sendNewPassword(password,email) {
            const message3 = document.getElementById('message3');
            const data = await fetch('/verifyOtp',{
                method:'PUT',
                headers:{
                    'Content-Type':'application/json'
                },
                body: JSON.stringify({password,email})
            });
            const response = await data.json();
            if(data.status === 404){
                message3.textContent = response.message;
                return;
            }
            if(data.status === 429){
                // Redirect to blank page with message
        const newWindow = window.open('', '_blank');
        newWindow.document.write(`<h2 style="color:red;text-align:center;margin-top:20%">${response.message}</h2>`);
        return;
            }
            if(data.status === 200){
                message3.textContent = '';
                window.location.href = '/login';
                // document.get('toast-body').textContent = 'Password changed successfully!';
                // const toast = new bootstrap.Toast(document.querySelector('.toast'));
                // toast.show();

            }
        }
        async function fetchData(email) {
        const message = document.getElementById('message');
            const data = await fetch('/forgotPassword',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body: JSON.stringify({email})
            });
             let response;
    const contentType = data.headers.get('content-type');

    if (contentType && contentType.includes('application/json')) {
        response = await data.json();
    } else {
        const text = await data.text();
        // Open a blank page and show the raw text
        const newWindow = window.open('', '_blank');
        newWindow.document.write(`<h2 style="color:red;text-align:center;margin-top:20%">${text}</h2>`);
        return;
    }
            if(data.status === 404){
                message.textContent = response.message;
                return;
            }
            if(data.status === 429){
              // Redirect to blank page with message
        const newWindow = window.open('', '_blank');
        newWindow.document.write(`<h2 style="color:red;text-align:center;margin-top:20%">${response.message}</h2>`);
        return;
            }
            if(data.status === 200){
                message.textContent = '';
                //the code below initializes the new bs model, keyboard false prevents the modal to close when pressing esc key
                const modal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                    keyboard: false
                });
                modal.show();
            }
        }
        async function sendOtp(otp,email) {
            const message2 = document.getElementById('message2');
            const data = await fetch('/verifyOtp',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body: JSON.stringify({otp,email})
            });
             let response;
    const contentType = data.headers.get('content-type');

    if (contentType && contentType.includes('application/json')) {
        response = await data.json();
    } else {
        const text = await data.text();
        // Open a blank page and show the raw text
        const newWindow = window.open('', '_blank');
        newWindow.document.write(`<h2 style="color:red;text-align:center;margin-top:20%">${text}</h2>`);
        return;
    }
     if (data.status === 429) {
        const newWindow = window.open('', '_blank');
        newWindow.document.write(`<h2 style="color:red;text-align:center;margin-top:20%">${response.message}</h2>`);
        return;
    }
            if(data.status === 404){
                message2.textContent = response.message;
                return;
            }
            if(data.status === 200){
                const modal1 = bootstrap.Modal.getInstance(document.getElementById('staticBackdrop'));
    if (modal1) {
        modal1.hide();
    }
                const modal = new bootstrap.Modal(document.getElementById('staticBackdrop2'), {
                    keyboard: false
                });
            
                modal.show();
            }
        }


    </script>
     <script src="js/showToast.js"></script>
</body>
</html>