<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlogWave</title>
  <link rel="stylesheet" href="css/index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg  ">
    <div class="container">
      <a class="navbar-brand fw-bold fs-3" href="/">BlogWave</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav justify-content-end w-100">
          <li class="nav-item">
            <a class="nav-link  button fw-bold" id="started" aria-current="page" href="/register">Get Started</a>
          </li>
          <li class="nav-item">
            <a class="nav-link button fw-bold text-center" id="login" aria-current="page" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar ends -->
  <main>
     <section class="landing">
    <div class="background-image container">
      <div class="hero text-center">
        <h1 class="fw-bold fs-2  text">"Your thoughts, Your Stories, Your Waves!"</h1>
        <p class="fs-5 fw-bold text">"Write, Explore and Connect with the blogging community."</p>
        <div class="text-center search">
          <!-- <button class="btn fw-bold fs-5 " id="explore">Explore</button> -->
          <form class="d-flex justify-content-center">
            <input class="form-control me-2" list="datalistOptions" type="search" placeholder="Search by title"
              aria-label="Search">
            <datalist id="datalistOptions">
              <option value="Technology">
              <option value="Cars">
              <option value="Books">
              <option value="Movies">
              <option value="Music">
              <option value="Food">
            </datalist>
            <button class="btn " type="submit" id="explore">Search</button>
          </form>
        </div>
      </div>
    </div>
    </section>
    <!-- landing page over -->

    <!-- features -->
    <section class="features text-center container">
      <div class="cards row text-center">
        <p class="text-center fw-bold fs-3 mt-lg-3 mt-md-2 mt-sm-2">Features</p>
        <div class="card col-lg-3 col-md-6 col-sm-6 ">
          <img src="images/write.png" class="card-img-top" alt="">
          <div class="card-body">
            <div class="card-title text-center fw-bold">Write & Publish Easily</div>
            <p class="card-text text-center">Express yourself with our simple, distraction-free editor.</p>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-6">
          <img src="images/explore.png" class="card-img-top" alt="">
          <div class="card-body">
            <div class="card-title text-center fw-bold">Discover & Explore</div>
            <p class="card-text text-center">Find blogs that match your interests, from tech to travel.</p>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-6">
          <img src="images/responsive.png" class="card-img-top" alt="">
          <div class="card-body">
            <div class="card-title text-center fw-bold"> Mobile-Friendly Experience</div>
            <p class="card-text text-center">Read, write, and interact on the go with our fully responsive design.</p>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-6">
          <img src="images/shield.png" class="card-img-top" alt="">
          <div class="card-body">
            <div class="card-title text-center fw-bold">Secure & Seamless Login</div>
            <p class="card-text text-center">Sign up quickly using Google OAuth or create an account.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- features finished -->

    <!-- popular blogs -->
     <section class="popular-blogs container">
    <div class="blogs">
      <p class="text-center fw-bold fs-3 mt-lg-3 mt-md-2 mt-sm-2">Popular Blogs</p>
      <div class="row">
        <div class="card col-lg-4 col-md-6 col-sm-6">
          <img src="images/tech.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <div class="card-title text-center fw-bold">Tech</div>
            <p class="card-text text-center">Stay updated with the latest tech news and trends.</p>
          </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-6">
          <img src="images/food.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <div class="card-title text-center fw-bold">Food</div>
            <p class="card-text text-center">Explore the world of food with our food bloggers.</p>
          </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-6">
          <img src="images/books.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <div class="card-title text-center fw-bold">Books</div>
            <p class="card-text text-center">Discover new books and share your reading experiences.</p>
          </div>
        </div>
      </div>

     </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>