<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || BlogWave</title>
    
  <link rel="stylesheet" href="css/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      main{
        height: 87vh !important;
      }
    </style>
</head>
<body>
  <nav>
    <%- include('./partials/redirect.ejs') %>

  </nav>
    <main>
        <div class="container mt-2">
          <%if(typeof message !== 'undefined' && message){%>
            <div class="alert alert-danger alert-dismissible fade show text-dark bg-light mt-3 mt-sm-2" role="alert">
              <strong><%= message %></strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <%}%>
            <p class="fw-bold fs-2 text-center register">Login</p>
            <form id="loginForm" action="/login" method="POST">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label fw-bold">Email</label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Password</label>
                  <input type="password" class="form-control" id="password" name="password" minlength="8" required>
                </div>
                <div class="forget text-end">
                    <a href="/forgotPassword" class="text-decoration-none">Forgot Password?</a>
                </div>
                <div class="text-center mb-3">
                <button type="submit" id="loginBtn" class="btn fw-bold">Login</button>
                </div>
                <div class="oauth text-center my-1">
                  <div class="divider d-flex align-items-center mb-3">
                    <hr class="flex-grow-1">
                    <span class="mx-2 fw-semibold text-muted">OR</span>
                    <hr class="flex-grow-1">
                  </div>
                  <a href="/auth/google" class="googleBtn btn btn-outline-primary shadow-sm rounded-pill px-4 py-2">
                    <i class="fa-brands fa-google me-2"></i> Sign up with Google
                  </a>
                </div>
                
              </form>
              
        </div>
        <% if (typeof flashMessage!='undefined' && flashMessage) { %>
          <div class="toast show position-fixed end-0 bottom-0 mx-3 mb-3" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <strong class="me-auto">Notification</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
             </div>
            <div class="toast-body">
               <%= flashMessage %>
             </div>
           </div>
           <% } %>
    </main>
    
    <script src="js/showToast.js"></script>
    <script src="js/registerValidation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>