<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NV9W4DWN');</script>
<!-- End Google Tag Manager -->
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VVE7N7RF1M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VVE7N7RF1M');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register || BlogWave</title>
    
  <link rel="stylesheet" href="css/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NV9W4DWN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <nav>
    <%- include('./partials/redirect.ejs') %>

  </nav>
    <main>
        <div class="container">
            <p class="fw-bold fs-2 text-center register mt-1 mt-sm-3 ">Register Your Account</p>
            
            <form id="registerForm" action="/register" method="POST"> 
                <div class="mb-3">
                    <label for="Username" class="form-label fw-bold">Username</label>
                    <input type="text" class="form-control" name="name" id="Username" minlength="5" required>
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label fw-bold">Email</label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Password</label>
                  <input type="password" class="form-control" title="Password must be at least 8 characters long and include uppercase, lowercase, a number, and a special character."   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}" id="password" name="password" minlength="8" required>
                  
                </div>
                <div class="forget text-end">
                    <a href="/login" class="text-decoration-none">Already registered?</a>
                </div>
                <div class="text-center mb-3">
                <button type="submit" id="registerBtn" class="btn fw-bold">Register</button>
                </div>
                <div class="oauth text-center my-1">
                  <div class="divider d-flex align-items-center mb-3">
                    <hr class="flex-grow-1">
                    <span class="mx-2 fw-semibold text-muted">OR</span>
                    <hr class="flex-grow-1">
                  </div>
                  <a href="/auth/google" class="btn btn-outline-primary shadow-sm rounded-pill px-4 py-2 googleBtn">
                    <i class="fa-brands fa-google me-2"></i> Sign in with Google
                  </a>
                </div>
                
              </form>
        </div>
        
 <% if (typeof flashMessage!='undefined' && flashMessage) { %>
     <div class="toast show position-fixed end-0 bottom-0 mx-3 mb-3" role="alert" aria-live="assertive" aria-atomic="true">
       <div class="toast-header">
         <strong class="me-auto">Notification</strong>
         <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
       <div class="toast-body">
          <%= flashMessage %>
        </div>
      </div>
      <% } %>
    </main>
    <script src="js/showToast.js"></script>
    <script src="js/registerValidation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>