body{
    background-color: black !important;
}
.register{
    color: white;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
}
form{
    display: block;
   margin: auto !important;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 25px white;
    border: 2px solid white;
    
}

#registerBtn,#loginBtn{
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    /* margin: 10px; */
    width: 100%;
    cursor: pointer;
    margin-top: 0.75rem;
    line-height: 1.25;

}
#registerBtn:hover,#loginBtn:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}
.forget:hover{
    /* font-weight: bold; */
    scale: 1.05 !important;
    transition: 0.3s !important;
}
.forget>a{
    color: white !important;
}
@media screen and (max-width: 468px){
    form{
        width: 90%;
        padding: 1rem;
        margin: 0.5rem;
    }

    
}
.navbar-brand{
    color: white !important;
    font-weight: bolder !important;
}
.bg-black {
    background-color: black !important;
  }
